form{ 
  text-align: center;
   background-color: rgb(204, 127, 127);
   border-radius: 10px;
   border-bottom: 20px;
   border-top: 30px;

}
mySubmit{
  font-size: 1.5em;
  border-radius: 5px;
  background-color: rgb(2, 108, 194);
}
.radioBttn{
  padding-top: 0.6%;
}
input{
  padding: 6px  4px;
  border-radius: 5px;
  text-align: center;
}